@import "tailwindcss";

@theme {
  --color-soft-sand: #F6EEE1;
  --color-primary-text: #1A231E;
  --color-secondary-text: #5A6B5D;
  --color-evergreen-forest: #2E4B2F;
  --color-evergreen-hover: #1F3520;

  --font-moniqa: var(--font-moniqa), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-century-gothic: var(--font-century-gothic), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    background-color: var(--color-soft-sand);
    color: var(--color-primary-text);
  }
}
